/* Particle JS div */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #17c1f5;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 0;
}

canvas{
    display: block;
    /* vertical-align: bottom; */
}

#logo-head{
    width: 100%;
}

.navbar{
    margin-bottom: 1%;
}

.resort-small{
    margin-left: .5rem;
    width: 80px;
    height: 80px;
}

html, 
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}
    #logo {
  border: 1px solid #ddd; 
  border-radius: 4px;  
  padding: 1px; 
  width: 50px; 
}
#logo:hover {
  box-shadow: 0 0 2px 1px rgba(16, 149, 194, 0.5);
}

.carousel-inner > .carousel-item > img {
 width: 100%;
 height: 400px;
 max-height: 400px;
}

#forecast {
    margin-bottom: 2%;
}

#weather-card {
    margin-top: 2%;
    margin-bottom: 2%;
}

p {
    font-family: cursive;
    font-size: auto;
    font-weight: bold;
}
h1, h2{
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

h2 {
    padding-top: 1px;
}

h1 {
    text-align: center;
}

#logo2 {
    width: 100%;
    border-radius: 2em;
}

#map{
    height: 30rem;
    width: 100%;
}

#small-message{
    font-family: 'Condiment', cursive;
    width: 60%;
    text-align: center;
    font-size: 25pt;
    padding-left: 14%;
}

#logo-landing {
    position: absolute;
    display: block;
    top: 35%;
    width: 50%;
    height: 15%;
    margin-left: 25%;
}

#enter{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;

}


/* Scrollbar Styles */
::-webkit-scrollbar{
    width: 0px;
}



@media screen and (min-width: 400px) {
    #logo2 {
      padding-top: 0px;
      padding-bottom: 2%;
    }
    #map {
      padding-top: 0px;
      padding-bottom: 2%;
    }
}

@media screen and (max-width: 400px){
    #imgCarousel{
        display: none;
    }
    #logo2{
        border-radius: 0;
    }
}