body {
    margin-left: 375px;
    background-color: rgb(204, 253, 255);
    width: 800px;
}

#navbar {
    margin-bottom: 15px;
}

#image {
    margin-bottom: 15px;
}

#map {
    height: 400px;
    width: 800px;
}

.weather {
    width: 800px;
}
